html, body {
    margin: 0;
    padding: 0;
    /*background-color: #4293e8;*/
}

body {
    font-size: 15px;
    /*background-color: rgba(166, 166, 166, 0.84);*/
    background-image: url(/data/backImage.jpg);
}

#middleBody {
    background-color: rgba(5, 5, 5, 0.7);
}


.header {
        position: fixed;
        height: 150px;
        width: 100%;
        z-index: 10000;
}

.container {
    margin-top: 175px;
}