html, body {
    margin: 0;
    padding: 0;
    /*background-color: #4293e8;*/
}

body {
    font-size: 15px;
    background-image: url(/data/backImage.jpg);
}

#middleBody {
    background-color: rgba(5, 5, 5, 0.7);
}


.header {
    background-image: url(/data/logo2.jpg);
    /*position: fixed;*/
    height: 150px;
    /*width: 48%;*/
    z-index: 10000;
    max-width: 100%;
}

.container {
    /*margin-top: 175px;*/
    max-height: 100%;
    max-width: 100%;
}

.category{
    position: relative;
    display: block;
    clear: both;
    color: white;
}

h4{
    align: center;
}

